<div class="expenses-container">
  <h2>Expenses List</h2>

  <table class="expenses-table">
    <thead>
      <tr class="table-header">
        <th>Item</th>
        <th>Notes</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Paid By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses$ | async">
        <td>{{ expense.item }}</td>
        <td>{{ expense.notes }}</td>
        <td>{{ expense.date | date }}</td> <!-- Use Angular's date pipe to format date -->
        <td>{{ expense.amount | currency }}</td> <!-- Use Angular's currency pipe to format amount -->
        <td><select>{{ expense.paidBy }}</select></td><!-- Display paidBy array as comma-separated string -->
      </tr>
    </tbody>
  </table>
</div>
